body {
  color: #4A4A4A;
  font-family: Helvetica;
  letter-spacing: 0.1vw;
  text-align: center;
}
.caps {
  text-transform: uppercase;
}
.centeredVert {
  height: 7vh;
  line-height: 7vh;
}
/* HEADER */
#header {
  padding-bottom: 2vh;
  border-bottom: 5px solid #2173BA;
}
#logo {
  padding-top: 2vh;
  text-align: center;
}
#logo img {
  width: 10vw;
  height: auto;
}
.centeredVert p, .centeredVert ul, #email svg, #profil svg {
  display: inline-block;
  vertical-align: middle;
}
.highlighted {
  background-color: #C2185B;
}
.highlighted #highlighted-number {
  color: #0178C2;
}
#bar1 div{
  height: 7vh;
}
#number {
  display: inline;
  background-color: #F6F6F6;
  text-align: right;
}
#number img {
  vertical-align: inherit;
}
#number p {
  display: inline-block;
}
#email {
  background-color: #2173BA;
}
#profil {
  background-color: #308DDE;
}
#bar2 div{
  margin-top: 3vh;
}
#parent {
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  color: #FFFFFF;
  font-size: 1.3em;
}
#parent img {
  vertical-align: sub;
}
#nav {
  text-align: left;
}
#nav ul, .lists ul {
  list-style: none;
}
#nav ul li{
  display: inline-block;
  margin-right: 1vw;
}
#nav ul li a, .lists ul li a {
  text-decoration: none;
  color: inherit;
}
#nav ul li a:hover, .lists ul li a:hover {
  text-decoration: none;
  color: #0178C2;
}
/*MAIN*/
h1 {
  color: #0178C2;
}
.card {
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  margin: 2vh 1vw;
  padding: 0;
  position: relative;
}
.card-image, .card-desc {
  width: 100%;
}
.card-image {
  height: 18vh;
  background: #2173BA;
  background-repeat: no-repeat;
  border-radius: 8px 8px 0 0;
  padding: 0;
}
#check {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid #0178C2;
  position: absolute;
  left: 80%;
  top: 16vh;
  z-index: 1;
}
.check-selected {
  background-image: url("../images/check.png");
  background-size: contain;
}
.card-desc {
  border-top: 5px solid #0178C2;
  text-align: left;
  line-height: initial;
  padding: 2vh 1vw;
}
.card-desc #multiaccueil, .card-desc #address {
  color: #0178C2;
}
.card-desc #multiaccueil {
  font-size: 0.7em;
  margin-bottom: 0.5vh;
}
.card-desc #name {
  font-size: 1.2em;
  padding-bottom: 4vh;
}
.card-desc #hours {
  padding-top: 1vh;
  border-top: 1px solid #E5E5E5;
  font-size: 0.9em;
}
.card-desc-selected {
  background-color: #CDDDED;
}
/* MAP */
#map {
  height: 500px;
  width: 100%;
  margin-top: 2vh;
}
.info-window {
  padding: 2vh 2vw;
  text-align: left;
}
.info-window p, #nurseries-selected {
  color: #0178C2;
}
#nurseries-selected {
  padding: 4vh 3vw;
  border: 1px solid #E5E5E5;
}
#nurseries-selected p, #nurseries-selected button {
  display: inline-block;
}
#nurseries-selected button { 
  background-color: #0178C2;
  color: #FFFFFF;
  padding: 1vh 2vw;
  margin-left: 2vw;
  border-radius: 15px;
  border: none;
}
.hidden { 
  display: none;
}
/* FOOTER */
#contact {
  background-color: #F6F6F6;
  color: #0178C2;
  text-align: left;
  padding: 4vh 0 1vh;
}
#horaires p span {
  font-size: 0.8em;
}
#email2 {
  padding-top: 1vh;
  text-align: center;
}
#email2 img {
  width: 2vw;
  height: auto;
  margin-right: 1vw;
}
#reseaux {
  text-align: right;
  font-size: 0.9em;
}
#reseaux img {
  width: 2vw;
  height: auto;
  margin-left: 0.6vw;
}
#links {
  padding-top: 5vh;
}
#copyright img {
  width: 6vw;
  height: auto;
  margin-bottom: 1vh;
}
#copyright p {
  font-size: 0.8em;
  line-height: initial;
  text-align: left;
  color: #0178C2;
}
.lists{
  text-align: left;
  line-height: 3vh;
}
.lists .caps {
  padding-bottom: 1vh;
}